.page-not-found-parent {
height: calc(100svh - 60px);
width: 100%;
}
.page-not-found-parent .page-not-found-container {
height: 100%;
display: flex;
flex-direction: column;
gap:40px;
justify-content: center;
align-items: center;
 }
 .page-not-found-parent .page-not-found-container .headding-div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
}
.page-not-found-parent .page-not-found-container .headding-div .head1{
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;           
}
.page-not-found-parent .page-not-found-container .headding-div .head2{
    font-size: 40px;
    font-weight: 700;
    margin: 0;              
}
            
  
          
  
      